<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/style.css" />
		<title><%=appName%> | Register</title>
	</head>
	<body>
		<div class="regContainerFlex">
			<div class="regLeftBg">
				<div class="regAppLogo"><a href="/Welcome"class="appName"><%=appName%></a></div>
				<div class="regLeftContent">
					<div class="regHeading">
						<h1 class="regHead">Welcome Back</h1>
						<img src="../public/hand_img.png" alt="welcome hand" />
					</div>
					<div class="regSubhead">
						<p class="regSubtext">
							Stay connected to your favourite To-Do List wherever, whenever
							with <span>Listify</span>
						</p>
					</div>
					<div class="regLeftAct">
						<button class="regLeftBtn"><a href="/login">Sign in to Account</a></button>
					</div>
				</div>
			</div>
			<div class="regRightBg">
				<div class="regFormCenter">
					<div class="formHeading">
						<h1 class="formHead">Create a New Account</h1>
						<p class="formSubhead">
							Set up your account on Listify and begin your journey into the
							world of To-Do List with us
						</p>
					</div>
					<form action="/users/register" method="post" class="formContainer">
						<label for="username" class="labelContainer">
							Username
							<input
								type="text"
								id="username"
								name="username"
								placeholder="Username"
								class="inputField"
								required
							/>
						</label>
						<label for="password" class="labelContainer">
							Password
							<input
								type="password"
								id="password"
								name="password"
								placeholder="Password"
								class="inputField"
								required
							/>
						</label>
						<div>
							<button type="submit" class="regSubmitButton">Create Account</button>
						</div>
						<p class="loginPoint">Already have an account? <a href="/login">Login</a></p>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
